/ .social-icons
/   a.btn.btn-round.btn-clear.btn-twitter href="https://twitter.com/"
/     i.fa.fa-twitter
/   a.btn.btn-round.btn-clear.btn-facebook href="https://www.facebook.com/"
/     i.fa.fa-facebook
/   a.btn.btn-round.btn-clear.btn-dribbble href="https://www.dribbble.com/"
/     i.fa.fa-dribbble
/   a.btn.btn-round.btn-clear.btn-instagram href="https://www.instagram.com/"
/     i.fa.fa-instagram
/   a.btn.btn-round.btn-clear.btn-linkedin href="https://www.linkedin.com/"
/     i.fa.fa-linkedin-square
/   a.btn.btn-round.btn-clear.btn-pinterest href="https://www.pinterest.com/"
/     i.fa.fa-pinterest
/   a.btn.btn-round.btn-clear.btn-google href="https://www.google.com/"
/     i.fa.fa-google-plus
